/* app.css */

/* Styles for active NavLink */
.active {
    color: rgb(55, 107, 237); /* Change the text color */
    font-weight: bold; /* Make the text bold */
    /* Add other styles as needed */
  }
  li:hover {
    color: rgb(28, 16, 16); /* Change text color on hover */
    /* Add other hover styles */
  }
  /* Hover effect for NavLink */
  
  table {
      border-collapse: collapse;
      width: 100%;
      
  }
  th, td,tr {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }
  th {
      background-color: #120f0f;
      color: white;
  }
